header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 15, 15);
    background-size: 2000px;

}

button{
    width: 80px;
}

h2{
    color: azure;
}